<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVTower.DBEditorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVTower.DBEditorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TVTower.DBEditorGUI.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>SERVER=localhost;DATABASE=tvtower_new;UID=TVTowerUser;PASSWORD=123</value>
            </setting>
        </TVTower.DBEditorGUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TVTower.DBEditorGUI.Properties.Settings>
            <setting name="Disclaimer" serializeAs="String">
                <value>Haftungsausschluss!

Bitte bestätigen Sie durch das Aktivieren der Schaltfläche "Akzeptieren", dass Sie alle Einschränkungen bezüglich des Schutz des Namensrechts (§ 12 BGB) als auch des Titelschutzes (§§ 5, 15 MarkenG) bei der Bearbeitung von Film- und Personendaten beachten, sofern Sie nicht alle erforderlichen Berechtigungen besitzen oder in Ihrem Wohnsitz keine Notwendigkeit besteht, solche Rechte einzuholen. Die Autoren dieses Software-Programmes übernehmen keinerlei Haftung.</value>
            </setting>
        </TVTower.DBEditorGUI.Properties.Settings>
    </applicationSettings>
</configuration>